.container{
    margin: auto;
    /*max-width: 1080px;*/
    font-family: sans-serif;
    /*background-color: pink;*/
}
.heading {
    color: rgb(250, 127, 174);
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  color: rgb(250, 127, 174);
}
.nav-link-item {
  padding-right: 2rem;
  color: rgb(250, 127, 174);
}
.nav-link-text {
  color: rgb(250, 127, 174);
  text-decoration-line: none;
  text-transform: capitalize;
}

