.Twitter {
    text-align: center;
  }
  .tweetprofile {
    width: 100%;
  }
Button, .tweetCard{
  /*background-color: rgb(250, 127, 174);*/
  background-color: #1976d2;
  text-transform: uppercase;
}
